body {
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 100px;
    background-color: white;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 32px;
    color: black;
    margin-bottom: 20px;
}

.number {
    font-size: 40px;
    color: black;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    
}

button {
    padding: 10px 20px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.increment {
    display: flex;
    margin: 10px;
    background-color: black;
    color: white;
}

.increment:hover {
    background-color: black;
    ;
}

.decrement {
    background-color: blue;
    margin: 10px;
    color: white;
}

.decrement:hover {
    background-color: blue;
}

.reset {
    background-color: red;
    margin: 10px;
    color: white;
}

.reset:hover {
    background-color: red;
}

#input {
    margin-bottom: 20px;
    padding: 8px;
    font-size: 1.2em;
    text-align: center;
    width: 100px;
    border: 1px solid white;
    border-radius: 5px;
}
